
.miniDisplay {
  span {
    font-family: led;
  }

  top: -20px;
  position: relative;
  font-size: 11rem;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:  1.4fr 0.2fr 1.4fr;
  gap: 0px 0px;
  height: 14rem;
  width: 18rem;
  color: black;

  grid-template-areas:
"temperature unit"
"temperature field"
"temperature temperature2";

  .temperature {
    width: 1em;
    grid-area: temperature;
    font-size: 1.2em;

  }

  .temperature2 {
    grid-area: temperature2;
    font-size: 0.5em;

  }

  .unit {
    grid-area: unit;
    font-size: 0.3em;
    position: relative;
    top: 38px;
  }

  .field {
    position: relative;
    top: 20px;
    padding-left: 0.5em;
    font-size: 0.18em;
    grid-area: field;
  }
}

.temp {
  height: 300px;
  float: left;
  width: 100%;
  position: relative;
  font-size: 20px;
  border-bottom: 5px solid black;
  z-index: 3;

  .circleLux {
    position: absolute;
    top: -190px;
    left: calc(50% - 155px);
    background-color: #ffffff;
    width: 300px;
    height: 300px;
    //border-radius: 50%;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: end;
    z-index: 4;
    border-radius: 120px;

    > span {
      padding-bottom: 35px;
      font-size: 57px;
    }
  }

  .left, .right {
    width: calc(50% - 1px);
    height: 100%;
    float: left;
  }


  .left {
    .small {
      border-bottom: 4px solid black;
      height: 302px;
      width: calc(50vw - 2px);
      border-right: 4px solid black;
    }

    border-right: 4px solid black;
    background: rgb(255, 255, 255);
    //   filter: grayscale(1);

    background: linear-gradient(240deg, rgba(255, 255, 255, 1) 15%, rgba(0, 255, 48, 1) 95%);
    position: absolute;
    left: 0px;
    top: 0;

    img {
      position: absolute;
      height: 70px;
      left: 290px;
    }

    .temperatureHome {
      position: relative;
      left: -47px;
      padding: 10px 0 0 55px;
    }

    > div > .humidity {
      top: 210px;
      left: 335px;
      font-size: 59px;
      position: absolute;

      > span {
        font-size: 1.50em;
        font-family: led;
      }

    }
  }

  .right {
    border-left: 4px solid black;
    background: rgb(255, 255, 255);
    background: linear-gradient(120deg, rgba(255, 255, 255, 1) 15%, rgba(255, 178, 0, 1) 95%);
    position: absolute;
    right: 0px;
    top: 0;


    .small {
      border-bottom: 4px solid black;
      height: 302px;
      width: calc(50vw - 2px);
      border-left: 4px solid black;
      float: right;
    }

    .big {
      position: absolute;
      top: 0;
      left: 0;
      transition: opacity 400ms;
    }

    img {
      position: absolute;
      height: 70px;
      right: 10px;
    }

    .temperatureOutHome {

      padding: 10px 70px 0 0;
      float: right;

    }

    > div > .humidity {
      top: 210px;
      right: 245px;
      font-size: 59px;
      position: absolute;

      > span {
        font-size: 1.50em;
        font-family: led;
      }
    }
  }
}


.left, .right {

  transition: height 500ms, width 500ms;
  border-bottom: 5px solid black;

  &:focus-within {
    width: calc(100% - 4px) !important;
    height: 600px !important;

    .Xbutton2, .Xbutton1 {
      opacity: 1;
      pointer-events: all;
    }

    .big {
      display: block;
      opacity: 1;


      * {
        pointer-events: auto;
      }

      * canvas {
        pointer-events: auto;
      }
    }
  }

  &:not(focus-within) {


    .Xbutton2, .Xbutton1 {
      opacity: 0;
      pointer-events: none;
    }

    .big {
      height: 398px;
      opacity: 0;
      display: none;

      * te {
        pointer-events: none !important;
      }

      * canvas {
        pointer-events: none !important;
      }
    }
  }

  .big {
    position: relative;
    height: 370px;
  }

  z-index: 100;

}


.airTable {
  font-size: 40px;

  tr {
    td:first-child {
      padding-right: 15px;
    }

    td:nth-child(2) {
      font-weight: bold;
      padding-right: 15px;
    }

    td:nth-child(3) {
      font-size: 25px;
    }
  }
}

.Xbutton2, .Xbutton1 {
  transition: opacity 590ms;
  position: absolute;
  background: transparent;
  border: 0;
}

.Xbutton1 {
  bottom: 0px;
  left: 0px;
}

.Xbutton2 {
  bottom: 0px;
  right: 0px;
}
