<div class="temp" style="position: relative;">
  <div (mouseenter)="setZIndex('tempLeft','tempRight')"
       [ngClass]="{'noData':XiaomiSensorKorytarz.getTimeToLastData() > 1800}" class="left"
       id="tempLeft" tabindex="1000">
    <div class="small">

      <img src="./assets/home.png">
      <div class="temperatureHome miniDisplay">
        <div class="temperature"><span id="temperatureHome">{{XiaomiSensorKorytarz.temperature1()}}</span></div>
        <div class="temperature2">.<span id="temperatureHome2">{{XiaomiSensorKorytarz.temperature2()}}</span></div>
        <div class="unit">&#8451;
        </div>
        <div *ngIf="XiaomiSensorKorytarz.getTimeToLastData() > 1800" class="field"
             id="temperatureHomeCounter">{{XiaomiSensorKorytarz.getTimeToLastData()}}</div>
      </div>
      <div class="humidity">
        <span id="humidityHome">{{XiaomiSensorKorytarz.humidity}}</span>hr
      </div>
    </div>
    <div class="big">
      <p class="homeTemperatureSensors">
  <span [ngClass]="{'noData':XiaomiSensorKorytarz.getTimeToLastData() > 1800}">
    <span>  Korytarz: {{XiaomiSensorKorytarz.temperature}}&#8451;</span>
        <span
          *ngIf="XiaomiSensorKorytarz.getTimeToLastData() > 1800"> &nbsp;&nbsp;{{XiaomiSensorKorytarz.getTimeToLastData()}}
    </span>
    <br>
  </span>
        <span [ngClass]="{'noData':XiaomiSensorDuzyPokuj.getTimeToLastData() > 1800}">
    <span>  Duży pokój: {{XiaomiSensorDuzyPokuj.temperature}}&#8451;</span>
        <span
          *ngIf="XiaomiSensorDuzyPokuj.getTimeToLastData() > 1800"> &nbsp;&nbsp;{{XiaomiSensorDuzyPokuj.getTimeToLastData()}}
    </span>
  </span>
        <br>
        <span [ngClass]="{'noData':XiaomiSensorTaty.getTimeToLastData() > 3000}">
    <span> Gabinet: {{XiaomiSensorTaty.temperature}}&#8451;</span>
        <span
          *ngIf="XiaomiSensorTaty.getTimeToLastData() > 1800"> &nbsp;&nbsp;{{XiaomiSensorTaty.getTimeToLastData()}}
    </span>
  </span>
        <br>
        <span [ngClass]="{'noData':XiaomiSensorPawel.getTimeToLastData() > 1800}">
    <span> Paweł: {{XiaomiSensorPawel.temperature}}&#8451;</span>
    <span
      *ngIf="XiaomiSensorPawel.getTimeToLastData() > 1800"> &nbsp;&nbsp;{{XiaomiSensorPawel.getTimeToLastData()}}
    </span>
  </span>
        <br>
        <span [ngClass]="{'noData':XiaomiSensorMateusz.getTimeToLastData() > 2000}">
    <span> Mateusz: {{XiaomiSensorMateusz.temperature}}&#8451;</span>
        <span
          *ngIf="XiaomiSensorMateusz.getTimeToLastData() > 1800"> &nbsp;&nbsp;{{XiaomiSensorMateusz.getTimeToLastData()}}
    </span>
  </span>
        <br>
        <span [ngClass]="{'noData':XiaomiSensorDol.getTimeToLastData() > 2000}">
    <span> Dół: {{XiaomiSensorDol.temperature}}&#8451;</span>
        <span
          *ngIf="XiaomiSensorDol.getTimeToLastData() > 1800"> &nbsp;&nbsp;{{XiaomiSensorDol.getTimeToLastData()}}
    </span>
  </span>
        <br>
        <span [ngClass]="{'noData':XiaomiSensorDol2.getTimeToLastData() > 1800}">
    <span> Dół2: {{XiaomiSensorDol2.temperature}}&#8451;</span>
        <span
          *ngIf="XiaomiSensorDol2.getTimeToLastData() > 1800"> &nbsp;&nbsp;{{XiaomiSensorDol2.getTimeToLastData()}}
    </span>
  </span>
        <br>
      </p>

      <input (click)="lostFocus()" class="Xbutton1" style="font-size: 80px;z-index: 999999" type="button" value="X">
      <button (click)="lostFocus()" class="Xbutton2" style="font-size: 80px;z-index: 999999">X</button>
    </div>
  </div>

  <div (mouseenter)="setZIndex('tempRight','tempLeft')" [ngClass]="{'noData':station.getTimeToLastData() > 250}"
       class="right" id="tempRight" tabindex="1000">
    <div class="small">

      <img src="./assets/las.png">
      <div class="temperatureOutHome miniDisplay">
        <div class="temperature"><span id="temperatureOutHome">{{station.temperatureDallas1()}}</span></div>
        <div class="temperature2">.<span id="temperatureOutHome2">{{station.temperatureDallas2()}}</span></div>
        <div class="unit">&#8451;</div>
        <div class="field"><span *ngIf="station.getTimeToLastData() > 300"
                                 id="temperatureOutHomeCounter">{{station.getTimeToLastData()}}</span>
        </div>
      </div>
      <span id="presure"
            style="position: absolute;right: 1px;top: 210px;font-size: 35px">{{station.dust}}μg/m3
        <br> {{station.getPresure()}}</span>
      <div class="humidity">
        <span id="humidityOutHome">{{station.humidityDHT}}</span>hr
      </div>
    </div>
    <div class="big">
      <table *ngIf="getAirTable()[1].value() != 0" class="airTable">
        <tr *ngFor="let k of getAirTable()">
          <td>{{k.name1}}<sub>{{k.name2}}</sub>:</td>
          <td>{{k.value()}}</td>
          <td><sub>{{k.value_valHistory[0]}} µg/m³</sub></td>
          <td>{{k.getEmoji()}}</td>
          <td>
            <canvas [id]="k.charId"
                    [style]="{width:k.chartWidth,height:k.chartHeight}">{{ k.getChart() }}</canvas>
          </td>
        </tr>
      </table>
      <div
        style="position: fixed;right: 1px;display: flex;justify-content:center;width: 100%">
        <div style="height: 250px;width: 80%;">

          <canvas id="presureChartID"
          >{{ presureChart }}</canvas>
        </div>
      </div>

    </div>
    <input (click)="lostFocus()" class="Xbutton1" style="font-size: 80px;z-index: 999999" type="button" value="X">
    <button (click)="lostFocus()" class="Xbutton2" style="font-size: 80px;z-index: 999999">X</button>
  </div>
  <div class="circleLux">
        <span>
            <span id="lux">{{station.light.toString().split(".")[0]}}</span><span>lux</span>
        </span>
  </div>

</div>

