<notifier-container></notifier-container>
<div style="width: 100%">


  <app-temperature></app-temperature>

  <div class="energy">
    <div class="container">
      <div class="phase1">
        Faza 1:<br>
        <span id="energyNowPhase1">{{energy.getMocCzynna1()}}W</span>
      </div>
      <div class="phase2"> Faza 2:<br><span id="energyNowPhase2">{{energy.getMocCzynna2()}}W</span></div>
      <div class="phase3"> Faza 3:<br><span id="energyNowPhase3">{{energy.getMocCzynna3()}}W</span></div>
      <div class="phaseAll"> Faza 1,2,3:<br><span id="energyNowPhaseAll">{{energy.getMocCzynnaSuma()}}W</span></div>
    </div>

    <div class="stats">
      <table>

        <tr>
          <td><h5> Pobrane:</h5></td>
          <td>&nbsp;<span id="energyDisplay1">{{energy.getEnergy()}}kWh</span></td>
        </tr>
        <tr>
          <td><h5> Zwrócone:</h5></td>
          <td>&nbsp;<span id="energyDisplay2">{{energy.sendEnergy()}}kWh</span></td>
        </tr>
        <tr>
          <td><h5> Akumulator:</h5></td>
          <td>&nbsp;<span id="energyDisplay3">{{energy.akumulator()}}kWh</span></td>
        </tr>

      </table>
    </div>
  </div>
  <div class="furnace" id="furnaceBack">
    <div class="tempFurnace">
      <div class="k1"><span>{{piec.temp3}}</span>&#8451;</div>
      <div class="k2">
        <div class="furnaceBackPlate" id="furnacFirePlate"></div>
        <img class="furnaceFire" id="furnaceFire" src="./assets/fire.gif">
        <img alt="piec img" id="furnaceImg1" src="./assets/furnaceCoal.png">
        <img alt="piec img" id="furnaceImg2" src="./assets/furnaceGIF.png">
      </div>
      <div class="k3"><span>{{piec.temp1}}</span>&#8451;</div>
    </div>
    <span id="furnaceTime"></span>

  </div>


  <div class="time">
    <h1 id="time">{{time}}</h1>
  </div>
  <div class="meteo">
    <h2>Open-meteo</h2>
    <div class="circle">
      <div>
        <span class="lcd" id="MeteoTemperature">{{meteo.temperature}}</span><span>&#8451;</span>
      </div>
      <div>
        <span class="lcd" id="MeteoWindSpeed">{{meteo.windspeed}}</span><span>km/h</span>
      </div>
      <div>
        <span id="MeteoWinddirection">{{meteo.getWindDirection()}}</span><span></span>
      </div>
    </div>

  </div>


</div>
<p style="font-size: 70px">
  <span [ngClass]="{'noData':XiaomiSensorDol.getTimeToLastData() > 1000}">
    <span> Dół: {{XiaomiSensorDol.temperature}}&#8451;</span>
  </span>
  <br>
  <span [ngClass]="{'noData':XiaomiSensorDuzyPokuj.getTimeToLastData() > 1000}">
    <span>  Duży pokój: {{XiaomiSensorDuzyPokuj.temperature}}&#8451;</span>
  </span>
  <br>
  <span>
    <span>Produkcja teraz: {{solar.energy1}}W</span>
  </span>
  <br>
  <span>
    <span>Produkcja teraz2: {{solar.energy2}}W</span>
  </span>
  <br>
  <span>
    <span> Produkcja dziś: {{solar.all_at_day}}kWh;</span>
  </span>


</p>
