Znakomite
0 - 19
Jakość powietrza jest idealna dla większości osób. Można śmiało spędzać czas na zewnątrz.
Umiarkowana
20 - 49
Jakość powietrza jest akceptowalna dla większości osób. Jednak osoby wrażliwe mogą odczuwać niewielkie lub umiarkowane objawy po dłuższym przebywaniu na zewnątrz.
Niedobre
50 - 99
Powietrze osiągnęło wysoki poziom zanieczyszczenia i jest niezdrowe dla osób wrażliwych. Jeśli odczuwasz takie objawy jak trudności w oddychaniu czy drapanie w gardle, skróć przebywanie na zewnątrz.
Szkodliwe
100 - 149
Osoby wrażliwe mogą od razu odczuć skutki zdrowotne. Po dłuższym przebywaniu na zewnątrz osoby zdrowe mogą mieć trudności z oddychaniem i odczuwać drapanie w gardle. Ogranicz aktywność na zewnątrz.
Bardzo szkodliwe
150 - 249
Osoby wrażliwe mogą od razu odczuć skutki zdrowotne i powinny unikać przebywania na zewnątrz. Osoby zdrowe mogą mieć trudności z oddychaniem i odczuwać drapanie w gardle. Warto rozważyć pozostanie w pomieszczeniach i zmianę planów zajęć na zewnątrz.
Groźna
250+
Każdy pobyt na zewnątrz, nawet przez kilka minut, może u każdego wywołać poważne skutki zdrowotne. Unikaj aktywności na zewnątrz.
