@import "../node_modules/angular-notifier/styles/core.css";
@import "../node_modules/angular-notifier/styles/types/type-default.css";
@import "../node_modules/angular-notifier/styles/types/type-error.css";
@import "../node_modules/angular-notifier/styles/types/type-info.css";
@import "../node_modules/angular-notifier/styles/types/type-success.css";
@import "../node_modules/angular-notifier/styles/types/type-warning.css";
@import "../node_modules/angular-notifier/styles/themes/theme-material.css";

.notifier__notification {
  p {
    padding: 10px;
    font-size: 50px !important;
  }

  .notifier__notification-button {

    width: 70px;
    height: 70px;

    svg {
      width: 70px;
      height: 70px;
    }
  }
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: #d3d3d3;
  font-family: Arial;
  font-size: 10px;
}

@font-face {
  font-family: led;
  src: url('./assets/led.ttf');
}

@font-face {
  font-family: led2;
  src: url('./assets/led.otf');
}


body, h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;

}

.lcd {
  font-family: led;
}

.noData {
  > div, * {
    color: #818181 !important;
  }

}
