<div style="width: 100%;max-width: 100%">


  <app-temperature></app-temperature>

  <div class="energy">
    <div class="container">
      <div class="phase1">
        Faza 1:<br>
        <span id="energyNowPhase1">{{energy.getMocCzynna1()}}W</span>
      </div>
      <div class="phase2"> Faza 2:<br><span id="energyNowPhase2">{{energy.getMocCzynna2()}}W</span></div>
      <div class="phase3"> Faza 3:<br><span id="energyNowPhase3">{{energy.getMocCzynna3()}}W</span></div>
      <div class="phaseAll"> Faza 1,2,3:<br><span id="energyNowPhaseAll">{{energy.getMocCzynnaSuma()}}W</span>
        <span style="font-size: 25px;font-weight: normal;margin-top: -2px;display: block;"> Wyliczone: {{power}}W</span>
      </div>

    </div>

    <div class="stats">
      <table>

        <tr>
          <td><h5 style="text-align: right;width: 100%"> In:&nbsp;</h5></td>
          <td>&nbsp;<span id="energyDisplay1" style="text-align: right;display:block;width: 100%">{{energy.getEnergy()}}
            kWh</span>
          </td>
        </tr>
        <tr>
          <td><h5 style="text-align: right;width: 100%"> Out:&nbsp;</h5></td>
          <td>&nbsp;<span id="energyDisplay2"
                          style="text-align: right;display:block;width: 100%">{{energy.sendEnergy()}}kWh</span>
          </td>
        </tr>
        <tr>
          <td><h5 style="text-align: right;width: 100%"> Accu.:&nbsp;</h5></td>
          <td>&nbsp;<span id="energyDisplay3"
                          style="text-align: right;display:block;width: 100%">{{energy.akumulator()}}kWh</span>
          </td>
        </tr>

      </table>
    </div>
  </div>
  <app-solar (Outputsolar)="read($event)"></app-solar>
  <app-furnace></app-furnace>

  <div class="time">
    <h1 id="time">{{time}}</h1>
  </div>
  <div class="meteo">
    <h2>Open-meteo</h2>
    <div class="circle">
      <div>
        <span class="lcd" id="MeteoTemperature">{{meteo.temperature}}</span><span>&#8451;</span>
      </div>
      <div>
        <span class="lcd" id="MeteoWindSpeed">{{meteo.windspeed}}</span><span>km/h</span>
      </div>
      <div>
        <span id="MeteoWinddirection">{{meteo.getWindDirection()}}</span><span></span>
      </div>
    </div>

  </div>


</div>

<div *ngIf="monitoring == true" class="cameraView" style="position:relative;z-index: 1000">
  <iframe src="http://10.68.6.2:8083/player/1"
          style="width: 100%;"></iframe>
  <iframe src="http://10.68.6.2:8083/player/2"
          style="width: 100%;height: auto"></iframe>
  <iframe src="http://10.68.6.2:8083/player/3" style="width: 100%;height: auto"></iframe>
  <iframe src="http://10.68.6.2:8083/player/4" style="width: 100%;height: auto"></iframe>
</div>
<div *ngIf="monitoring == false" class="cameraView" style="position:relative;z-index: 1000">
  <button (click)="toLocalNetwork()">Do lokalnej sieci:</button>
</div>
<!--
<p style="font-size: 70px">

  <span [ngClass]="{'noData':XiaomiSensorDuzyPokuj.getTimeToLastData() > 1800}">
    <span>  Duży pokój: {{XiaomiSensorDuzyPokuj.temperature}}&#8451;</span>
        <span
          *ngIf="XiaomiSensorDuzyPokuj.getTimeToLastData() > 1800"> &nbsp;&nbsp;{{XiaomiSensorDuzyPokuj.getTimeToLastData()}}
    </span>
  </span>
  <br>
  <span [ngClass]="{'noData':XiaomiSensorTaty.getTimeToLastData() > 3000}">
    <span> Gabinet: {{XiaomiSensorTaty.temperature}}&#8451;</span>
        <span
          *ngIf="XiaomiSensorTaty.getTimeToLastData() > 1800"> &nbsp;&nbsp;{{XiaomiSensorTaty.getTimeToLastData()}}
    </span>
  </span>
  <br>
  <span [ngClass]="{'noData':XiaomiSensorPawel.getTimeToLastData() > 1800}">
    <span> Paweł: {{XiaomiSensorPawel.temperature}}&#8451;</span>
    <span
      *ngIf="XiaomiSensorPawel.getTimeToLastData() > 1800"> &nbsp;&nbsp;{{XiaomiSensorPawel.getTimeToLastData()}}
    </span>
  </span>
  <br>
  <span [ngClass]="{'noData':XiaomiSensorMateusz.getTimeToLastData() > 1800}">
    <span> Mateusz: {{XiaomiSensorMateusz.temperature}}&#8451;</span>
        <span
          *ngIf="XiaomiSensorMateusz.getTimeToLastData() > 1800"> &nbsp;&nbsp;{{XiaomiSensorMateusz.getTimeToLastData()}}
    </span>
  </span>
  <br>
  <span [ngClass]="{'noData':XiaomiSensorDol.getTimeToLastData() > 1800}">
    <span> Dół: {{XiaomiSensorDol.temperature}}&#8451;</span>
        <span
          *ngIf="XiaomiSensorDol.getTimeToLastData() > 1800"> &nbsp;&nbsp;{{XiaomiSensorDol.getTimeToLastData()}}
    </span>
  </span>
  <br>
  <span [ngClass]="{'noData':XiaomiSensorDol2.getTimeToLastData() > 1800}">
    <span> Dół2: {{XiaomiSensorDol2.temperature}}&#8451;</span>
        <span
          *ngIf="XiaomiSensorDol2.getTimeToLastData() > 1800"> &nbsp;&nbsp;{{XiaomiSensorDol2.getTimeToLastData()}}
    </span>
  </span>
  <br>
</p>

-->
